@model IEnumerable<YusufEken.EntityLayer.Bolum>

@{
    ViewBag.Title = "Bölüm Listesi";
}

<h2>Bölüm Listesi</h2>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BolumAd)
        </th>
        <th>
            <a href="@Url.Action("Create")" class="btn btn-primary">
                <i class="fas fa-plus-circle me-1"></i> Yeni Bölüm Ekle
            </a>        
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BolumAd)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id=item.Id })" class="btn btn-xs btn-success me-1" title="Güncelle">
                    <i class="fas fa-edit"></i> Güncelle
                </a> |
                <a href="@Url.Action("Delete", new { id=item.Id })" class="btn btn-xs btn-danger" title="Sil">
                    <i class="fas fa-trash-alt"></i> Sil
                </a>            
            </td>
        </tr>
    }

</table>